<a href="https://colab.research.google.com/github/suryakumari20/2216104_AI-ML_BOOTCAMP/blob/main/ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. implemention of methods of strings
sstr="Show must go On"
print(sstr.upper())
print(sstr.lower())
print(sstr.swapcase())
print(sstr.title())
print(sstr.capitalize())

SHOW MUST GO ON
show must go on
sHOW MUST GO oN
Show Must Go On
Show must go on

In [ ]:
#2.implementation of methods of list
s_list=[20,1.45,"hai",'c',3]
s_list.append(9)
print(s_list)
s_list.extend([67.45,"hello",0])
print(s_list)
s_list.insert(4,12)
print(s_list)
del s_list[0]
print(s_list)
del s_list[5:7]
print(s_list)
s_list.remove(3)
print(s_list)
s_list.pop()
print(s_list)
s_list.clear()
print(s_list)

[20, 1.45, 'hai', 'c', 3, 9]
[20, 1.45, 'hai', 'c', 3, 9, 67.45, 'hello', 0]
[20, 1.45, 'hai', 'c', 12, 3, 9, 67.45, 'hello', 0]
[1.45, 'hai', 'c', 12, 3, 9, 67.45, 'hello', 0]
[1.45, 'hai', 'c', 12, 3, 'hello', 0]
[1.45, 'hai', 'c', 12, 'hello', 0]
[1.45, 'hai', 'c', 12, 'hello']
[]

In [ ]:
#3.implementation of methods of tuples
tl1=(23,96,"hello","bye",5.26,103,103,12.65,46)
print(tl1.count(103))
tl=(3,6,9,23,78,105)
print(max(tl))
print(min(tl))
print(len(tl))

2
105
3
6

In [ ]:
#4.implementation of methods of sets
t={1,4,5,"hi",4.5}
t.add(7)
print(t)
t.update([4,9,2])
print(t)
t.discard('hi')
print(t)
t.remove(4.5)
print(t)

{1, 4.5, 4, 5, 7, 'hi'}
{1, 2, 4.5, 4, 5, 7, 9, 'hi'}
{1, 2, 4.5, 4, 5, 7, 9}
{1, 2, 4, 5, 7, 9}

In [ ]:
#5.implementation of methods of dictionary
d={'name':'surya','phno':2349287,'address':'hnk','studying':'b.tech','stream':'cse'}
print(d["stream"])
print(d.keys())
print(d.values())
print(d.get('studying'))
name="surya"
studying="b.tech"
year=" 2 nd year"
college="sru"
print(name,"is studing",studying,"in",college)
print("{} is studing {} {} in {}".format(name,studying,year,college))
print("{1} {2} {3} {0}".format(name,studying,year,college))
print("%s is studing %s %s in %s"%(name,studying,year,college))
print(f"{name} currently pursuing her {studying} {year} in {college}")

cse
dict_keys(['name', 'phno', 'address', 'studying', 'stream'])
dict_values(['surya', 2349287, 'hnk', 'b.tech', 'cse'])
b.tech
surya is studing b.tech in sru
surya is studing b.tech  2 nd year in sru
b.tech  2 nd year sru surya
surya is studing b.tech  2 nd year in sru
surya currently pursuing her b.tech  2 nd year in sru

In [1]:
#6)Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.
num=int(input("Enter a number:"))
print(bin(num))
print(oct(num))
print(hex(num))

Enter a number:23
0b10111
0o27
0x17

In [2]:
#7) Implement Arithmetic operators with examples
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(a+b)
print(abs(a-b))
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Enter a number:46
Enter a number:20
66
26
920
2.3
6
1799519816997495209117766334283776
2

In [3]:
#8) Implement Assignment operators with examples.
x=58
y=40
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
y//=3
print(y)
y**=3
print(y)

58
61
58
174
58.0
1.0
13
2197

In [4]:
#9) Implement Comparison operators with examples.
x1="yes"
y1="no"
print(x1==y1)
print(x1!=y1)
print(x1>y1)
print(x1<y1)
print(x1>=y1)
print(x1<=y1)

False
True
True
False
True
False

In [5]:
#10) Implement Logical operators with examples.
a1=11
b1=5
print(a1==5 and b1==11)
print(a1==11 or b1==5)
print(not a1==b1)

False
True
True

In [6]:
#11)Implement Bitwise operators with examples
c=1
d=2
print(c==23 & d==46)
print(c&d)
print(c==25|d==20)
print(c&d)
print(c^d)
print(~c)
print(c>>2)
print(d<<2)

False
0
False
0
3
-2
0
8

In [7]:
#12)Implement Membership operators with examples.
st1="good morning"
print('h' in st1)
print('i' in st1)
print("oo" in st1)
print('h' not in st1)
print('a' not in st1)
print("in" not in st1)

False
True
True
True
True
False

In [11]:
#13)Implement Identity operators with examples
e=96
f=67
print(e is f)
print(e is not f)

False
True

In [14]:
#14)Demonstrate Negative indexing for List and apply slicing.
l1=[5,3,8,9,5,46,'surya']
# negative indexing
print(l1[-1])
print(l1[-7])
print(l1[-4])
#slicing
print(l1[1:])
print(l1[:])
print(l1[::-1])

surya
5
9
[3, 8, 9, 5, 46, 'surya']
[5, 3, 8, 9, 5, 46, 'surya']
['surya', 46, 5, 9, 8, 3, 5]

In [15]:
#15)Predict the output for the given code snippet and justify the result.
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
#[::-1] it is for reversing and [4::3] it starts from 4 th index with step size as 3
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])
#[3:10] it starts from 3 rd index and stops at 10 th index and the it will reverse the string

taawkcbe  tgestrcoeeA
------------
ot emoc

In [16]:
#16)Write a python code to get desired output; Input string : p_phrase = "was it a car or a cat I saw"; Output string : WAS I TAC A RO RAC A TI SAW
p_phrase="was it a car or a cat I saw"
str22=p_phrase.upper()
print(str22[::-1])

WAS I TAC A RO RAC A TI SAW

In [17]:
#17). You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO
x=int(input("Enter a number="))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a number=12
x= 12
y= 24
ZZZZZZZZZZZZOOOOOOOOOOOOOOOOOOOOOOOO