<a href="https://colab.research.google.com/github/suryakumari20/2216104_AI-ML_BOOTCAMP/blob/main/day101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#naive bayes works on spam filters,text ananlyisis,medical dignosis
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('/content/drive/MyDrive/SMSSpamCollection',sep='\t',header=None,names=['label','message'])

In [4]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.shape

(5572, 2)

In [6]:
#data preprocessing
#method1
df['label']=df.label.map({'ham':0,'spam':1})

In [7]:
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [8]:
#bag of word
#define the documents
'''documents=['Hello, how are you',
           'Win money , win from home.',
           'call me now.',
           'Hello,call hello you tomorrow?']
           #apply co
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()
print(count_vector)'''

"documents=['Hello, how are you',\n           'Win money , win from home.',\n           'call me now.',\n           'Hello,call hello you tomorrow?']\n           #apply co\nfrom sklearn.feature_extraction.text import CountVectorizer\ncount_vector=CountVectorizer()\nprint(count_vector)"

In [9]:
'''#fit_transform,transform
count_vector.fit(documents)'''

'#fit_transform,transform\ncount_vector.fit(documents)'

In [10]:
'''n=count_vector.get_feature_names()
print(n)'''

'n=count_vector.get_feature_names()\nprint(n)'

In [11]:
'''doc_array=count_vector.transform(documents).toarray()'''

'doc_array=count_vector.transform(documents).toarray()'

In [12]:
'''doc_array'''

'doc_array'

In [13]:
'''#converting this array into a dataframe -for understanding
freq_table=pd.DataFrame(data=doc_array,columns=n)'''

'#converting this array into a dataframe -for understanding\nfreq_table=pd.DataFrame(data=doc_array,columns=n)'

In [14]:
'''freq_table'''

'freq_table'

In [15]:
#load the data
X = df.iloc[:,-1:].values#independent -- message
Y = df.iloc[:,:-1].values #dependent -- label

In [16]:
X

array([['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'],
       ['Ok lar... Joking wif u oni...'],
       ["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"],
       ...,
       ['Pity, * was in mood for that. So...any other suggestions?'],
       ["The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"],
       ['Rofl. Its true to its name']], dtype=object)

In [17]:
#spilt the data set--> method 2
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=1,shuffle=True)

In [18]:
X_train

array([["Hi , where are you? We're at  and they're not keen to go out i kind of am but feel i shouldn't so can we go out tomo, don't mind do you?"],
       ['If you r @ home then come down within 5 min'],
       ["When're you guys getting back? G said you were thinking about not staying for mcr"],
       ...,
       ['CERI U REBEL! SWEET DREAMZ ME LITTLE BUDDY!! C YA 2MORO! WHO NEEDS BLOKES'],
       ['Text & meet someone sexy today. U can find a date or even flirt its up to U. Join 4 just 10p. REPLY with NAME & AGE eg Sam 25. 18 -msg recd@thirtyeight pence'],
       ['K k:) sms chat with me.']], dtype=object)

In [19]:
X_train

array([["Hi , where are you? We're at  and they're not keen to go out i kind of am but feel i shouldn't so can we go out tomo, don't mind do you?"],
       ['If you r @ home then come down within 5 min'],
       ["When're you guys getting back? G said you were thinking about not staying for mcr"],
       ...,
       ['CERI U REBEL! SWEET DREAMZ ME LITTLE BUDDY!! C YA 2MORO! WHO NEEDS BLOKES'],
       ['Text & meet someone sexy today. U can find a date or even flirt its up to U. Join 4 just 10p. REPLY with NAME & AGE eg Sam 25. 18 -msg recd@thirtyeight pence'],
       ['K k:) sms chat with me.']], dtype=object)

In [20]:
X_train.shape

(4457, 1)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()

#transform the training data into freq vectors and return the matrix

training_data = count_vector.fit_transform(X_train.flatten())

#transform the testing data into freq vectors and return the matrix

testing_data = count_vector.transform(X_test.flatten())

In [22]:
training_data

<4457x7714 sparse matrix of type '<class 'numpy.int64'>'
	with 59028 stored elements in Compressed Sparse Row format>

In [23]:
from sklearn.naive_bayes import MultinomialNB
model= MultinomialNB()

In [27]:
model.fit(training_data,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [28]:
y_pred=model.predict(testing_data)
np.set_printoptions(precision=2) 
print(np.concatenate((y_pred.reshape(len(y_pred),1),Y_test.reshape(len(Y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [29]:
print("Predicted value for training data:",model.score(training_data,Y_train)*100)
print("Predicted value for testing data:",model.score(testing_data,Y_test)*100)

Predicted value for training data: 99.23715503702041
Predicted value for testing data: 99.01345291479821